
.content
{
    background-color: var(--color-2);
}
td
{
    text-align: center;
}
thead 
{
    position: sticky;
    top: 0px;
    background-color: #233b58;
    color: var(--color-5);
}
thead tr td,tbody tr td
{
    padding: 8px 10px;
    word-break: break-all;
    white-space: nowrap;
}
.content::-webkit-scrollbar-thumb
{
    background-color: var(--color-2);
    border-radius: 10px;
}
.content::-webkit-scrollbar
{
    width: 15px;
    height: 15px;
}
table
{
    background: whitesmoke !important;
}
tbody
{
    background: #132d4c !important;
    color: white;
}
tbody tr:hover
{
    background-color: #233b58;
    color: #fff;
}
tbody tr
{
    animation: apear-product-data linear;
    animation-timeline: view();
    animation-range: entry 0 10%;
}
@keyframes apear-product-data {
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to
    {
        opacity: 1;
        transform: scale(1);
    }
}