
input:focus-visible,textarea:focus-visible
{
    border: none;
    outline: 0;
}
input,textarea,select
{
    border: none;
    width: 100%;
    margin: 10px 0 !important;
    background-color: #fff !important;
    color: #9c9c9c !important;
    padding: 8px 18px;
    border-radius: 10px;
    box-shadow: inset 0 0 4px 0 gray;
    font-weight: 500;
}
input::placeholder,textarea::placeholder,select::placeholder
{
    color: #9c9c9c !important; 
}
label
{
    margin: 0 10px;
    color: #b26f0ad4 !important;
    font-weight: 500;
}
.product-div
{
     margin: 20px 0;
}
#usernumber::-webkit-outer-spin-button,
#usernumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#pincode::-webkit-outer-spin-button,
#pincode::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
.order-button
{
    border: none;
    color: #b26f0a !important;
    background-color: #fff !important;    
    padding: 8px 28px;
    margin: 10px 0 !important;
    border-radius: 15px !important;
    box-shadow: 0 0 4px 0 gray;
    font-weight: 600;
    width: 100%;
}
.total-price
{
    display: flex;
    justify-content: space-between;
}
#quantityprice
{
    width: 30%;
    margin: 0 10px !important;
    background: transparent !important;
    color: darkgray !important;
    border: 1px solid darkgray;
    padding: auto;
    text-align: center;
    padding: 0;
}
.address_element input
{
    box-shadow: none;
}
.add_new_address_btn
{
    border: none;
    border-radius: 10px;
    background: #b16f09;
    color: #fff;
    padding: 0 15px;
    margin: 15px;
}
.inputs
{
    box-shadow: 0 2px 2px 2px lightgray;
    border-radius: 12px;
    padding: 0 10px;
}
.inputs h5
{
    border-bottom: 2px solid;
    width: fit-content;
    margin: 20px auto;
}
.active_address_span
{
    float: inline-end;
    background-color: green;
    color: #fff;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 12px;
}
.delivery_charge
{
    display: flex;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
}
.charges_div
{
    padding: 0 10px;
    border-top: 1px solid lightgray;
}
.checkout_cart_image
{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.cart_products
{
    overflow: hidden;
    padding: 0;
}
.place_order_btn button
{
    border: none;
    width: 100%;
    padding: 6px 0;
    border-radius: 10px;
    background: var(--gradient);
    color: var(--white);
}
.proceed_to_checkout_container
{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
}