.banner
{
    height: 50vh;
    width: 100%;
    /* background-image: url("/images/resources/Final\ Karma\ Cafe\ banner\ for\ website.png"); */
}
.banner_content
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_dashboard
{
    box-shadow: 0 0 3px 3px lightgray;
    margin: 50px 100px;
    padding: 20px;
    border-radius: 10px;
}

.content
{
    border-left: 1px solid lightgray;
    padding: 0 10px;
}
.form_group
{
    margin: 15px 0;
}
.form_group label
{
    width: 15%;
}
@media (max-width:768px) {
    .form_group input, label
    {
        width: 100% !important;
    }
    .inner_dashboard
    {
        margin: 10px;
    }
    .content
    {
        border: 0;
    }
    
}
.form_group input
{
    width: 80%;
    border: none;
    background-color: transparent;
    box-shadow: inset 0 0 6px 0px gray;
    border-radius: 10px;
    padding: 4px 15px;
}
.dash_background button
{
    border: none;
    box-shadow: inset 0 0 6px 0px gray;
    display: flex;
    margin: auto;
    transition: 0.5s linear;
    background: transparent;
    padding: 3px 25px;
}
.dash_background button:hover
{
    background-color: #b26f0a;
    color: #fff;
}
button:focus-visible{
    border: none;
    outline: none;
}
.content_line
{
    display: grid;
    grid-template-columns: auto auto;
}
.product_card
{
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 6px 0px gray;
    border-radius: 10px;
}
.product_card img
{
    border-radius: 10px;
}
.content_hide
{
    display: none;
}
.banner_content img
{
    aspect-ratio: 3/3;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    width: 15%; 
}

#imagefileInput
{
    position: absolute;
    right: 0;
    opacity: 0;
}
.buttons
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
@media (max-width:768px) {
    .buttons
    {
        display: unset;
    }
    .buttons button
    {
        margin: 10px;
    }
}
.cancel_order_icon
{
    position: absolute;
    right: 15px;
    color: #b26f0a;
}
.tc
{
    text-align: center;
}
.order_pending
{
    background: red;
    width: fit-content;
    padding: 0 10px;
    border-radius: 10px;
    color: white;
}
.order_approve
{
    background: green;
    width: fit-content;
    padding: 0 10px;
    border-radius: 10px;
    color: white;
}

/* new view of dashboard page css */

.dashboard_sidebar
{
    padding: 10px;
}
.dash_background
{
    background: white;
    box-shadow: 0 0 4px 0px lightgray;
}
.profile_view .img
{
    width: 100%;
    cursor: pointer;
}
.dash_content
{
    padding: 10px;
    /* overflow-y: scroll; */
}
.block
{
    display: grid;
    grid-template-columns: auto auto auto;
}
.block input
{
    width: 100%;
    border: 2px solid var(--golden);
    /* border-radius: 10px; */
    padding: 0 8px;
    cursor: not-allowed;
}
.block input:focus-visible
{
    outline: 0;
    border: 1px solid var(--golden);    
    /* border-radius: 15px; */
}
.block button
{
    text-align: start;
}
form label
{
    padding: 5px 8px;
}
form .edit
{
    text-decoration: underline;
    color: var(--golden);
    cursor: pointer;
}
.navigation
{
    padding: 15px 0;
}
.navigation ul
{
    list-style: none;
    /* border-right: 1px solid lightgray; */
    padding: 0;
    height: fit-content;
}
.navigation ul li
{
    margin: 10px 15px;
    padding: 10px;
    box-shadow: inset 0 0 6px 0px gray;
    text-align: center;
    transition: 0.5s linear;
    cursor: pointer;
}
.navigation ul li:hover
{
    background: #b26f0a;
    color: #fff;
}
.navigation ul li:focus-visible
{
    outline: none;
}
.navigation_link_click
{
    background: #b26f0a;
    color: #fff;
}
.navigation button
{
    border-radius: 0;
    border: none;
    box-shadow: none;
}
select
{
    border: 2px solid var(--golden); 

}
select:focus-visible
{
    outline: none;
    border: 2px solid var(--golden);
}
.profile,.orders,.listed_products,.add_office_address,.add_gift_address
{
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: 0.2s linear;
}
.dash_content_show
{
    visibility: visible;
    opacity: 1;
    max-height: fit-content;
}
.dashboar_menu_icon i
{
    font-size: 20px;
    color: var(--golden);
}
.dashboar_menu_icon
{
    display: none;
}
@media screen and (max-width:768px) {
    .dashboar_menu_icon
    {
        display: flex;
        justify-content: space-between;
    }
    .navigation
    {
        display: none;
    }
    .navigation_show
    {
        display: block;
    }
}
/* end here */