a
{
    color: var(--text-light-white);
    text-decoration: none;
}
.productCard
{
    padding: 10px 0;
    margin: 10px;
    /*animation: product-card-show linear;*/
    /*animation-timeline: view();*/
    /*animation-range: entry 0 cover 40%;*/
}
@keyframes product-card-show {
    from
    {
        scale: 0;
        opacity: 0;
    }
    to
    {
        scale: 1;
        opacity: 1;
    }
}
.productCard a
{
    position: relative;
}

.productCard h6
{
    padding: 5px 0;
}
/*.productCard:hover.productCard img*/
/*{*/
/*    transform: scale(1.1);*/
/*} */
.productCard img
{
    width: 100%;
    /*border-radius:10px;*/
    /*transition: transform 0.2s linear;*/
}
.product-image
{
    position: relative;
    overflow: hidden;
    /*border-radius: 10px;*/
}
.product-image .second-image
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: z-index .3s ease,transform .4s ease;
}
.product-image:hover .second-image
{
    z-index: 0;
    transform: scale(1.05);
}
.add-to-cart-btn
{
    border: none;
    background-color: var(--golden);
    color: var(--white);
    font-weight: 600;
    transition: background-color 0.5s linear;
    border: 1px solid var(--golden);
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.add-to-cart-btn:hover
{
    background-color: transparent;
    color: var(--golden);
}
.quick-view
{
    border: none;
    background-color: var(--white);
    font-weight: 600;
    transition: background-color 0.5s linear;
    border: 1px solid var(--golden);
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.quick-view a
{
    color:var(--golden);
}
.quick-view:hover.quick-view a
{
    color: var(--white);
}
.quick-view:hover
{
    background-color: var(--golden);
}
.cate-heading
{
    padding: 0 5px;
    cursor: pointer;
}
.cate-heading::first-letter
{
    text-transform: capitalize;
}
.filters
{
    width: 25%;
    position: sticky;
    top: 10px;
    background-color: var(--golden);
    border-radius: 10px;
    margin: 0 12px;
    z-index: 1;
}
@media screen and (max-width:768px) {
    .filters
    {
        width: 100%;
    }
}
.filter-container a
{
    color: #9c9c9c !important;
}
.filter-main-head
{
    display: grid;
    grid-template-columns: auto auto;
}
.filter-main-head h5
{
    all: unset;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400 !important;
}
.filter-main-head .filter-icon-div
{
    display: flex;
    justify-content: end;
    align-items: center;
}

    
.filter-container {
    display: grid;
    position: absolute !important;
    opacity: 0;
    grid-template-rows: 0fr !important;
    transition: grid-template-rows 500ms ease, opacity 500ms ease;
    overflow: hidden; /* Prevent content from overflowing during animation */
    background-color: #fff;
    padding: 10px 20px;
    width: fit-content;
    height: 0;
}

.filter-container-show {
    position: static;
    grid-template-rows: auto;
    opacity: 1;
    z-index: 1;
    height: fit-content;
}
.filter-main-head
{
    cursor: pointer;
}

@media screen and (max-width:768px){
    .product-container
    {
        border:none;
    }
}
.pegination-div ul
{
    list-style: none;
    display: flex;
    justify-content: end;
}
.pegination-div ul li
{
    border: 1px solid #b3700b;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s linear;
    margin: 0 5px;
    box-shadow: -3px -1px 0px 0px #b3700b;
}
.pegination-div ul li:hover
{
    background-color: #b3700b;
    color: #fff;
}
.li-active
{
    background-color: #b3700b;
    color: #fff;
}
.pegination-div ul button
{
    border: none;
    background-color: #b3700b;
    color: #fff;
    padding: 0 10px;
    font-size: 25px;
}
.productCard-animation
{
    opacity: 1;
    transform: translateY(-10px);
}
.clear_all_category_btn
{
    margin: 0 10px;
    border: none;
    background: #b2700a;
    font-size: 14px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Lato';
}
.filter-main-head h3
{
    margin: 0 !important;
}
