.smain
{
    margin: 20px 0;
}
.productPrice
{
    margin: 0;
}
.singleproductmian .buttons .add-to-cart-btn
{
    border: none;
    background: var(--gradient);
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    font-weight: bolder;
    transition: 0.2s linear;
    color:var(--white);
}
.singleproductmian .buttons .add-to-cart-btn:hover
{
    transform: scale(1.05);
    background-color: #ac7c34;
}
.related_pro_add_to_cart_btn
{
    border: 1px solid #fff;
    border-radius: 10px;
    color: #ba760f !important;
    background: none;
    margin: 10px 0;
    padding: 0 10px;
}
.multipleImg img
{
  border: 1px solid gray;
  margin: 10px 0;
  width:100%;
}
.relatedProductCard
{
    text-align: center;
    background-color: #ba760f;
    color: #fff;
    box-shadow: 0 0 2px 0 gray;
    margin: 10px;
}
.relatedProductCard h5
{
    margin: 5px 0;
    color:#fff;
    font-size:15px;
}
.relatedProductCard a img
{
    width:100%;
}
.relatedProductCard .add-to-cart-btn
{
    all: unset;
    background: transparent;
    color: var(--white);
    border: 1px solid;
    margin: 10px;
    padding: 0 15px;
}
.relatedProductCard .add-to-cart-btn:hover
{
    background:#9f6207;
    border:1px solid #9f6207;
}
.size_fit,.material_care,.spacifications
{
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}
.productImg
{
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
}
@media screen and (max-width:400px) {
    .productImg
    {
        width: fit-content;
    }
}
.productImg img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}
.productImg::after
{
    content: '';
    opacity: var(--opacity);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--imageurl);
    background-size: 200%;
    background-position: var(--zoom-x) var(--zoom-y);

}
.go_to_checkout
{
    border: none;
    background: var(--gradient);
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    font-weight: bolder;
    transition: 0.2s linear;
    color:var(--white);
}
.go_to_checkout:hover
{
    transform: scale(1.05);
    background-color: #ac7c34;
}
#quantityIncreaseDecrease
{
    width: 12%;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 0 10px;
}
a
{
    color: var(--white);
    text-decoration: none;
}
.smain p, .smain div
{
    color: var(--text-light-white);
}
.product_color
{
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.product_color button
{
    all: unset;
    width:25px;
    height:25px;
    border-radius:50%;
    margin:10px;
}