RewriteEngine On

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ $1.php [L]

RewriteBase /online-store/

# Rewrite rule for singleProduct.php
RewriteRule ^singleProduct/([^/]+)/([0-9]+)/?$ singleProduct.php?category=$1&id=$2 [L,QSA]

# Rewrite rule for shop
RewriteRule ^shop/([^/]+)/?$ shop.php?category=$1 [L,QSA]
                                                         
# Rewrite rule for checkout
RewriteRule ^checkout/([^/]+)/([^/]+)/?$ checkout.php?dummy=$1&id=$2 [L,QSA]

# Rewrite rule for checkout page for show messages
RewriteRule ^checkout/([^/]+)/?$ checkout.php?msg=$1& [L,QSA]
                                                         
